@media screen and (min-width: 800px) {

    /*header-----*/
    header h1{
        font-size: 30px;
    }
    header h1 span{
        font-size: 25px;
    }

    /*contents-----*/
    .contents{
        width: 700px;
    }
    .box-container{
        margin: 0 auto;
        padding: 60px 0 40px 0;
        overflow: hidden;
    }
    .box{
        float: left;
    }
    #self-portrait{
        margin: 0 0 0 30px;
    }
    #self-introduction dt, #self-introduction dd{
        padding-bottom: 15px;
    }
    /*works*/
    .works-content h3{
        font-size: 20px;
    }
    .link-image{
        width: 500px;
        height: 300px;
    }
    .works-text{
        margin: 0 auto;
        width: 500px;
    }
    hr{
        width: 500px;
    }
}