* {
    font-family: "Hiragino Sans";
    color: #707070;
}

/*header------*/
header {
    position: fixed;
    width: 100%;
    height: 130px;
    margin-bottom: 75px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}
header h1{
    padding: 30px 20px 20px 20px;
    font-size: 25px;
    font-weight: 600;
}
header h1 span{
    font-size: 20px;
}
.header-icon{
    font-size: 20px;
}
#header-cover{
    height: 160px;
    width: 100%;
}

/*comtents-----*/
.contents{
    margin: 0 auto;
    margin-bottom: 30px;
    width: 450px;
    background-color: #F8F8F8;
}
.content{
    padding: 10px 0 150px 0;
    text-align: center;
}
.works-content{
    padding-bottom: 0;
}
.content h2{
    font-size: 25px;
    font-weight: 200;
    padding-bottom: 30px;
}
.content h3{
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 10px;
}

.text{
    font-size: 15px;
    font-weight: 300;
}
.center{
    text-align: center;
}

#self-portrait{
    margin: 60px auto;
    height: 200px;
    width: 200px;
}

#self-introduction{
    padding-left: 30px;
}
#self-introduction dt{
    float: left;
    padding-bottom: 10px;
    width: 150px;
    padding-right: 30px;
    text-align: left;
    font-weight: 300;
}
#self-introduction dd{
    padding-bottom: 10px;
    text-align: left;
    margin-left: 150px;
    font-weight: 300;
}
.link-url{
    text-decoration: underline;
}

.link-image{
    width: 300px;
    height: 200px;
    padding-bottom: 20px;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.works-text{
    margin: 0 auto;
    width: 400px;
    text-align: left;
    padding-bottom: 20px;
}

hr{
    width: 400px;
    margin: 0 auto;
    padding: 20px 0 100px;
}

/*footer-----*/
footer{
    width: 100%;
    height: 60px;
    background-color: #BEBEBE;
}
.fotter-contents{
    width: 450px;
    margin: auto;
    line-height: 60px;
}
.shortcut-button{
    color: white;
    width: 80px;
    float: right;
}
.return-button{
    color: white;
    width: 100;
    float: left;
}